:root {
    --background: #212529;
    --background-secondary: #191C1F;
    --background-third: #343a40;
    --primary: #4C6EF5;
    --button-hover: #364FC7;
    --text-primary: #f8f9fa;
    --text-secondary: #adb5bd;
    --text-secondary-clearer: #ced4da;
    --shadow: 0 4px 40px -20px #212529;

    --font-primary: 'Lato', sans-serif;

    --font-weight-1: 600;
    --font-weight-2: 400;

    --line-height-1: 20px;

    --title-1-size: 20px;
    --title-2-size: 35px;
    --title-3-size: 25px;

    --text-1-size: 11px;

    --button-1-size: 12px;

    --padding-default: 14px 26px;
}

::backdrop {
    --background-backdrop-color: rgba(0, 0, 0, 0.6);
}

body {
    background-color: var(--background);

    font-family: var(--font-primary);

    overflow-x: hidden;
}

.header__container {
    height: 60px;
    width: 100vw;

    background-color: var(--background-secondary);
    border-bottom: 1px solid var(--primary);

    display: flex;
    align-items: center;
    justify-content: space-around;

    box-shadow: var(--shadow);

    position: fixed;
    top: 0;
    left: 0;

    z-index: 9999;

    gap: 100px;
}

.header__title {
    font-size: 17px;
    font-weight: 600;
    line-height: 44px;
}

.footer__container {
    margin-top: 70px;

    background: var(--background-secondary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100vw;
    height: 60px;
    left: 0px;
}

.aline-text__container {
    width: 100%;
    max-width: 900px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 10%;
}