.subscribe__button--header {
    background-color: var(--background-secondary);
    border: 1px solid var(--text-primary);
}

.main__container {
    margin-top: 100px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 32px;
}

.first-text__container {
    height: calc(100vh - 60px);

    margin-top: -40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow-y: auto;
    gap: 25px;
}

.first-text__title {
    font-size: 35px;
    font-weight: 600;
}

.first-text__title--highlight {
    color: var(--primary);
}

.first-text__container>p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.first-text__button {
    width: 100px;
    height: 36px;

    color: var(--text-primary);
    background-color: var(--primary);

    font-size: 12px;
    font-weight: 400;
}

.second-text__container {
    height: 190px;

    background-color: var(--background-secondary);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    z-index: 1;

    overflow: hidden;
}

.second-text__section--text {
    height: 50%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.second-text__title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;

    text-align: start;
}

.second-text__text {
    font-weight: 400;
    font-size: var(--font-size-p);
    line-height: 20px;

    text-align: start;
}

.faq__container {
    align-items: flex-start;
    margin-top: 200px;
}

.faq-title__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

    gap: 20px;
}

.faq-title__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;

    text-align: start;
}

.faq-title__container>p {
    text-align: start;
    margin-top: 10px;
}

.subscribe__button--main {
    color: var(--text-primary);
    background-color: var(--primary);

    font-size: 12px;
    font-weight: 400;
}

.faq-text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 40px;
}

.faq-text__container>span>h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    text-align: center;
}

.faq-text__container>span>p {
    margin-top: 40px;

    text-align: start;
}

.testimonial__container {
    margin-top: 100px;

    display: flex;
    align-items: flex-start;
}

.testimonial-text-list__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    gap: 60px;
}

.testimonial-list__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.testimonial-list__item>span>h3 {
    width: 170px;

    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    text-align: start;
}

.testimonial-list__item>span>p {
    margin-top: 10px;

    text-align: start;
}

.testimonial-list__item>p {
    width: 80%;

    text-align: start;
    margin-left: 80px;
}

.testimonial-quote__container {
    width: 265px;
    height: 265px;

    background: var(--primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 35px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.testimonial-quote__section {
    display: flex;
    flex-direction: column;

    padding: 40px 30px;
}

.testimonial-quote__section>h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: start;

    margin-bottom: 20px;
}

.modal__controller {
    width: 414px;
    height: 314px;

    padding: 0;

    background-color: var(--background-secondary);
    border-color: var(--primary);

    box-shadow: var(--shadow);

    color: var(--text-secondary);
}

.modal__controller::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__container {
    width: 414px;
    height: 314px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
}

.modal-cadastro__section {
    display: flex;
    justify-content: space-between;
}

.modal__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;

    color: var(--text-primary);
}

.modal__close {
    width: 32px;
    height: 26px;

    background-color: var(--background);
    color: var(--text-secondary);
    border-radius: 10%;
}

.modal__close:hover {
    cursor: pointer;
}

.modal__button {
    width: 100%;
    height: 50px;

    background-color: var(--primary);
}